{# {% extends "layout.html" %}
{% block content %}
  <h1 class="text-3xl font-bold mb-6">Plan Requests</h1>
    <div class="overflow-x-auto">
        <table class="table-auto w-full border-collapse">
          <thead>
            <tr class="bg-gray-200 dark:bg-gray-800">
              <th>User id</th>
              <th>Email</th>
              <th>Username</th>
              <th>Requested Plan</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for request in requests %}
              <tr>
                <td>{{ request.user.id }}</td>
                <td>{{ request.user.email }}</td>
                <td>{{ request.user.username }}</td>
                <td>{{ request.plan.name }}</td>
                <td><a href="{{ url_for('main.admin_approve_plan', request_id=request.id) }}">Approve</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{%- endblock content %} #}

{% extends "layout.html" %}
{% block content %}
<h1 class="text-2xl font-bold mb-6">Plan Requests  (Pending: {{ pending_count }})</h1>
<div class="overflow-x-auto">
    <table class="table-auto w-full border-collapse">
        <thead>
            <tr class="bg-gray-200 dark:bg-gray-800">
                <th>User ID</th>
                <th>Email</th>
                <th>Username</th>
                <th>Requested Plan</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.user.id }}</td>
                    <td>{{ request.user.email }}</td>
                    <td>{{ request.user.username }}</td>
                    <td>{{ request.plan.name }}</td>
                    <td>
                        <a href="{{ url_for('main.admin_approve_plan', request_id=request.id) }}">Approve</a>
                        <a href="{{ url_for('main.admin_reject_plan', request_id=request.id) }}">Reject</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
