{% extends "layout2.html" %}
{% block title %}Connect | Project Susan{% endblock title %}
{% block content %}
                        <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Starter</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Starter</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Success Alert -->
<div class="alert alert-success alert-dismissible alert-additional fade show" role="alert">
    <div class="alert-body">
        <div class="d-flex">
            <div class="flex-shrink-0 me-3">
                <i class="ri-plug-line fs-22 align-middle"></i>
            </div>
            <div class="flex-grow-1">
                <h5 class="alert-heading">Live trading requires the exchange to authorize API trading permissions</h5>
                <p class="mb-0">Select Your Exchange and connect with API</p>
            </div>
        </div>
    </div>
    <div class="alert-content">
        <p class="mb-0">Rest assured, your API is fortified with state-of-the-art encryption protocols and shielded by the impenetrable layers of blockchain's asymmetric encryption. Feel empowered to utilize it confidently, knowing that your data remains safeguarded against any potential breaches. Your security is our priority, allowing you to trade with peace of mind.</p>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header bg-warning">
                <h5 class="text-white">
                    <img src="{{ url_for('static', filename='assets/images/brands/binance.svg') }}" alt="binance">
                    Binance Futures Connector
                </h5>
            </div>
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3">
                        <span class="input-group-text col-3">{{ form.api_key.label }}</span>
                        {{ form.api_key(size=32, class="form-select col-9", placeholder="Enter API key" ) }}
                        <span class="input-group-text"><i class="ri-key-line fs-22 text-success"></i></span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-3">{{ form.api_secret.label }}</span>
                        {{ form.api_secret(size=32, type="password" ,class="form-select col-9", placeholder="Enter API Secrete" ) }}
                        <span class="input-group-text"><i class="ri-key-line fs-22 text-success"></i></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-warning">
                            <img src="{{ url_for('static', filename='assets/images/brands/binance.svg') }}" alt="binance">
                            <b>Connect</b>
                        </button>

                    </div>
                </form>

                {% if api_status == "connected" %}
                    <p>Your API key is connected.</p>
                {% else %}
                    <p>Your API key is not connected.</p>
                {% endif %}


            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12">
        <div class="card">

            <div class="card-body">
                <!-- Warning Alert -->
                <div class="alert alert-danger alert-dismissible alert-label-icon label-arrow fade show" role="alert">
                    <i class="ri-alert-line label-icon"></i><strong>API Whitelist</strong> - Restrict access to trusted IPs only (Recommended)
                    <button type="button" class="btn-close" data-bs-dismiss=" alert" aria-label="Close"></button>
                </div>
                <div>
                    <input type="text" class="form-control mb-3" id="desabledInput" value="18.197.157.39" readonly>
                </div>

                <button id="copyButton" onclick="copyToClipboard('18.197.157.39')" class="btn btn-info"><i class="ri-file-copy-2-line p-1"></i> Copy IP Addresses</button>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(text) {
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
    }
</script>

{% endblock content %}