<!-- api_credentials.html -->
{% extends "layout.html" %}
{% block content %}

<!-- Additional Text -->
<div class="bg-gray-100 dark:bg-gray-800 rounded-lg p-4 mb-8">
<div class="text-center mb-3">
    <p class="text-lg font-semibold text-blue-500">Live trading requires the exchange to authorize API trading permissions.</p>
</div>

    <p class="text-gray-700 dark:text-gray-300">Rest assured, your API is fortified with state-of-the-art encryption protocols and shielded by the impenetrable layers of blockchain's asymmetric encryption. Feel empowered to utilize it confidently, knowing that your data remains safeguarded against any potential breaches. Your security is our priority, allowing you to trade with peace of mind.</p>
</div>

<div class="flex flex-wrap justify-between">
<div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 w-full max-w-lg mx-auto  mb-8">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100 mb-4">Enter API Keys</h2>

    <!-- Tab UI for exchange selection -->
    <div class="mb-6">
        <ul class="flex border-b dark:border-gray-700">
            <li class="-mb-px mr-1">
                <a class="bg-white dark:bg-gray-800 inline-block py-2 px-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 font-semibold" href="#binance">Binance</a>
            </li>
            <li class="mr-1">
                <a class="bg-white dark:bg-gray-800 inline-block py-2 px-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 font-semibold" href="#other">Other Exchange</a>
            </li>
        </ul>
    </div>

    <!-- Form -->
    <form method="post" class="space-y-4">
        {{ form.hidden_tag() }}
        <div>
            <label for="api_key" class="block text-sm font-medium text-gray-700 dark:text-gray-300">API Key</label>
            {{ form.api_key(size=32, class="mt-1 block w-full border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-900 dark:text-gray-300") }}
        </div>
        <div>
            <label for="api_secret" class="block text-sm font-medium text-gray-700 dark:text-gray-300">API Secret</label>
            {{ form.api_secret(size=32, class="mt-1 block w-full border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-900 dark:text-gray-300") }}
        </div>
        <div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out flex items-center">
                <svg viewBox="-38.336 221.497 673.012 568.228" height="20" fill="var(--bs-black)" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                    <path d="M 144.162 503.61 L 82.718 565.504 L 20.682 503.61 L 82.696 441.166 L 144.162 503.61 Z M 294.374 352.355 L 400.202 458.919 L 462.239 396.497 L 294.374 228.017 L 126.509 397.047 L 188.546 459.469 L 294.374 352.355 Z M 506.053 441.166 L 444.586 503.61 L 506.6 566.056 L 568.591 503.61 L 506.053 441.166 Z M 294.374 654.866 L 188.546 547.751 L 126.509 610.197 L 294.374 779.205 L 462.239 610.173 L 400.202 547.751 L 294.374 654.866 Z M 294.374 565.527 L 356.388 503.06 L 294.374 441.189 L 232.36 503.61 L 294.374 565.504 L 294.374 565.527 Z M 368.186 659.084 L 416.003 625.929 C 416.003 585.554 394.028 634.173 394.028 634.173" style="" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, 0, 0)"></path>
                </svg>
                <b>Connect</b>
            </button>

        </div>
    </form>
</div>

<!-- Trusted IP Addresses -->
<div class="bg-gray-100 dark:bg-gray-800 rounded-lg p-4 mb-8">
    <p class="text-gray-700 dark:text-gray-300"><strong>Trusted Only (recommended):</strong><br>18.197.157.39</p>
    <button id="copyButton" onclick="copyToClipboard('18.197.157.39')" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4">Copy IP Addresses</button>
</div>
</div>
<!-- Tip -->
<div class="bg-gray-100 dark:bg-gray-800 rounded-lg p-4 mb-8">
    <p class="text-gray-700 dark:text-gray-300"><strong>Pro Tip:</strong> Safeguard your account assets and streamline transaction data inquiries by obtaining a dedicated API separately. This approach prevents sharing with other products or services, enhancing security and efficiency.</p>
</div>


<!-- JavaScript Function to Copy IP Addresses to Clipboard -->
<script>
    function copyToClipboard(text) {
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
    }
</script>

{% endblock content %}
