{% extends "layout2.html" %}
{% block title %}Refuel | Project Susan{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card ">
            <div class="card-header">
                <h3>Purchase Fuel</h3>
            </div>
            <div class="card-body">
            {# form-control rounded-pill #}

                <div class="form-container active">
                {# <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-text">Button</span>
                            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                <option selected="">Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                    </div>
                </div> #}
                                
                    <form method="post" autocomplete="off">
                        {{ form.hidden_tag() }}
                        <div class="input-group mb-3">
                            <span class="input-group-text col-6">{{ form.package.label }}</span>
                            {{ form.package(class="form-select col-6", placeholder="Select Package") }}
                            <span class="input-group-text bg-success"><i class="las la-shopping-bag text-white fs-22"></i></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-6">{{ form.payment_method.label }}</span>
                            {{ form.payment_method(class="form-select col-6", placeholder="Select Payment Method") }}
                            <span class="input-group-text bg-info"><i class="lab la-amazon-pay text-white fs-22"></i></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-6">{{ form.pay_id.label }}</span>
                            {{ form.pay_id(class="form-control col-6", placeholder="Payment reference") }}
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-danger w-100") }}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card ">
            <div class="card-header">
                <h3>Fuel Purchased history</h3>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
{% endblock content%}