{% extends 'layout.html' %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4">Purchase Fuel</h2>
<form method="post" class="space-y-4">
    {{ form.hidden_tag() }}
    <div>
        {{ form.package.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.package(class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500") }}
    </div>
    <div>
        {{ form.payment_method.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.payment_method(class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500", id="payment_method") }}
    </div>
    <div id="pay_id_field" style="display: none;">
        {{ form.pay_id.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.pay_id(class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500") }}
    </div>
    <div>
        {{ form.submit(class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out flex items-center") }}
    </div>
</form>

<script>
    document.getElementById('payment_method').addEventListener('change', function() {
        var paymentMethod = this.value;
        var payIdField = document.getElementById('pay_id_field');
        
        if (paymentMethod === 'Binance Pay') {
            payIdField.style.display = 'block';
        } else {
            payIdField.style.display = 'none';
        }
    });

    // Trigger change event on page load to set initial state
    document.getElementById('payment_method').dispatchEvent(new Event('change'));
</script>
{% endblock content %}
